{% extends 'shop/main.html' %}

{% load static %}

{% block title %}
View |
{% endblock title %}

{% block content %}
<div class="view-container">
  <div class="box">
    <div class="images">
        <div class="image-holder">
          <img src="{{product.imageURL}}" alt="">
        </div>
    </div>

    <div class="basic-info">
      <h1>{{product.name}}</h1>
      <div class="rate">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <span>$ {{product.price}}</span>
      <div class="options">
        <button data-product="{{product.id}}" data-action="Add"  class="btn btn-outline-secondary rounded-pill add-btn update-cart">Add to Cart</button>
      </div>
    </div>

    <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, fugiat!, Lorem ipsum dolor sit amet,
           consectetur adipisicing elit. Maxime, fugiat!</p>

        <ul class="social">
          <li><i class="fa-brands fa-facebook"></i></li>
          <li><i class="fa-brands fa-instagram"></i></li>
          <li><i class="fa-brands fa-twitter"></i></li>
        </ul>
    </div>

  </div>

</div>
{% endblock content %}





